In [2]:
import pandas as pd

In [3]:
# DataFrame是核心对象之一
pd.DataFrame({"yes" : [50,20],"no" : [30,40]}) # 一个 DataFrame 是一个表格。它包含一个由单个条目组成的数组，每个条目都有一个特定的值 。每个条目对应一行（或记录 ）和一个列 。

   yes  no
0   50  30
1   20  40

In [4]:
pd.DataFrame({"yes" :[100,200] ,"no" : [300,400]},index = ["project A","project B"])

           yes   no
project A  100  300
project B  200  400

In [5]:
pd.Series([1,2,3,4,5,6,7,8,9]) # Series是pandas中的另一个数据结构，一个Series本质上是DataFrame的一列。

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [6]:
pd.Series([120,130,150],index = ["A","B","C"],name = "Project A")

A    120
B    130
C    150
Name: Project A, dtype: int64

In [9]:
data = pd.read_json("../data/winemag-data-130k-v2.json")
data.head(3)

,points,title,description,taster_name,taster_twitter_handle,price,designation,variety,region_1,region_2,province,country,winery
0,87,Nicosia 2013 Vulkà Bianco (Etna),"Aromas include tropical fruit, broom, brimston...",Kerin O’Keefe,@kerinokeefe,NaN,Vulkà Bianco,White Blend,Etna,None,Sicily & Sardinia,Italy,Nicosia
1,87,Quinta dos Avidagos 2011 Avidagos Red (Douro),"This is ripe and fruity, a wine that is smooth...",Roger Voss,@vossroger,15.0,Avidagos,Portuguese Red,None,None,Douro,Portugal,Quinta dos Avidagos
2,87,Rainstorm 2013 Pinot Gris (Willamette Valley),"Tart and snappy, the flavors of lime flesh and...",Paul Gregutt,@paulgwine,14.0,None,Pinot Gris,Willamette Valley,Willamette Valley,Oregon,US,Rainstorm

In [10]:
data.shape # 检查数据行列大小

(129971, 13)